<ng-container *ngIf="data.length">
  <table>
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Score</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of data; index as i"
        [ngClass]="{ 'highlighted-row': user.userId === highlightedId }"
      >
        <td>{{ (currentPageNumber - 1) * pageSize + i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.score }}</td>
        <td>{{ user.country }}</td>
        <td>
          <a (click)="navigateToItemProfile.emit(user.userId)">
            <i class="fas fa-eye"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination center-align">
    <li [ngClass]="{ disabled: currentPageNumber === 1 }">
      <a (click)="goToPreviousPage.emit()"
        ><i class="fas fa-chevron-left"></i
      ></a>
    </li>
    <li [ngClass]="{ disabled: !dbHasMoreItems }">
      <a (click)="goToNextPage.emit()"><i class="fas fa-chevron-right"></i></a>
    </li>
  </ul>
</ng-container>
