<header>
  <nav>
    <div class="container nav-wrapper">
      <a routerLink="/" class="brand-logo">Tive Challenge</a>
      <a data-target="mobile-menu" class="sidenav-trigger">
        <i class="fa fa-bars"></i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLink="/">Users</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul tiveSidenav id="mobile-menu" class="sidenav">
    <li>
      <a routerLink="/" class="sidenav-close">Users</a>
    </li>
  </ul>
</header>
